.page {
  width: calc(100% - 60px);
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .tag {
    display: block;
    position: absolute;
  }
  .html-open {
    top: 5%;
    left: 4%;
  }
  .body-open {
    top: 8%;
    left: 6%;
  }
  .html-close {
    bottom: 5%;
    left: 4%;
  }
  .body-close {
    bottom: 8%;
    left: 6%;
  }
}
.tags {
  color: #ffd700;
  opacity: 0.6;
  font-size: 20px;
  font-family: 'La Belle Aurore', cursive;
}