main {
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  background-image: url('../../assets/images/banner-bg.png');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Nunito', sans-serif;
  .home-content {
    width: 50%;
    h1 {
      font-size: 40px;
      margin: 0;

    }
    p {
      font-size: 30px;      
      margin: 0;
    }
  }
  .home-img {
    width: 50%;
    img {
      width: 100%;
      animation: updown 3s linear infinite;
    }
  }
}

@keyframes updown {
  0% {
      transform: translateY(-15px);
  }
  50% {
      transform: translateY(15px);
  }
  100% {
      transform: translateY(-15px);
  }
}
@media only screen and (max-width: 900px) {
  main {
    .flex {
      justify-content: center;
      flex-direction: column;
    }
  }
}