header {
  height: 12vh;
  .container {
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
      a {
        margin-right: 1rem;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .hamburger {
      width: 50px;
      border: 1px solid #fff;
      border-radius: 10px;
      display: none;
      &:active {
        transition: .3s ease;
        border-width: 3px;
      }
      cursor: pointer;
      .line {
        width: 30px;
        height: 2px;
        margin: 8px auto;
        background-color: #fff;
      }
    }
  }
}
@media only screen and (max-width: 900px) {
  header {
    .container-fulied {
      nav {
        display: none;
      }
      .hamburger {
        display: block;
      }      
    }

  }
}