* {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: #132F4C;
  background-color: #fff;
  transition: all .3s ease;
  overflow-x: hidden;
}
.dark {
  color: #E7EBF0;
  background-color: #001E3C;
  transition: all .3s ease;
}
.dark a {
  color: #fff;
}