* {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: #132F4C;
  background-color: #fff;
  transition: all .3s ease;
  overflow-x: hidden;
}
.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #132F4C;
}
i {
  cursor: pointer;
}
img {
  object-fit: cover;
}
.dark {
  color: #E7EBF0;
  background-color: #001E3C;
  transition: all .3s ease;
}
.dark a {
  color: #fff;
}